@use '@/styles/base/utils' as *;

.searchInputContainer::before {
	content: url('/images/dashboard/search.svg');
	margin-right: rem(12px);
}

.applicationsGrid {
	background-color: white;
	border-radius: rem(16px);
	width: 100%;

	& > div {
		padding-inline: rem(16px);
		padding-top: rem(24px);

		&:not(:last-child) {
			border-right: 1px solid #f2f3f3;
		}
	}
}

.applicationGridItem {
	justify-content: space-between;
	padding: rem(18px);
	border-radius: rem(12px);
	border: 1px solid #f9fafa;
	background-color: #fcfcfc;
	cursor: pointer;

	p {
		font-weight: 600;
	}
}

@include media('lg', 'max') {
	.applicationGridItem {
		.aGIIcon > svg {
			width: 64px;
			height: 64px;
		}

		p {
			font-size: rem(16px);
		}

		span.aGIsubTitle {
			font-size: var(--font-accent);
		}
	}
}

.optionsDropdown {
	box-shadow: 0px 12px 32px 0px rgba(15, 31, 46, 0.08);
	border-radius: rem(12px);
	background-color: white;
}

.optionsDropdownItem {
	display: grid;
	grid-template-columns: 14px 1fr;
	column-gap: rem(12px);
}
