@use '@/styles/base/utils' as *;

.DashboardLayout {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #fcfcfc;
	position: relative;
	z-index: -1;

	--dashboard-aside-width: 285px;

	&.DashboardLayoutCollapsed {
		--dashboard-aside-width: 86px;

		.DashboardLayoutAside {
			padding: 24px 14px;
			align-items: center;
		}
	}

	&--lg {
		.DashboardLayoutBanner {
			height: 360px;
		}
	}

	&--sm {
		.DashboardLayoutBanner {
			height: 240px;
		}
	}

	&--md {
		.DashboardLayoutBanner {
			height: 318px;
		}
	}

	.DashboardLayoutBanner {
		/* Rectangle 29 */

		box-sizing: border-box;
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;
		z-index: -1;

		@supports (
			background:
				radial-gradient(
					7.08% 35.82% at 1.49% 49.83%,
					rgba(234, 224, 255, 0.12) 0%,
					rgba(73, 0, 226, 0) 100%
				)
		) {
			background:
				radial-gradient(
						7.08% 35.82% at 1.49% 49.83%,
						rgba(234, 224, 255, 0.36) 0%,
						rgba(234, 224, 255, 0) 100%
					)
					/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
				linear-gradient(96.68deg, #eef7ff -0.19%, #b4fff3 226.07%);
		}

		background: linear-gradient(96.68deg, #eef7ff -0.19%, #b4fff3 226.07%);
		border: 1px solid #f3f4f4;
	}

	&Main {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 4;
		padding: 0 15px;
		width: 100%;
		margin-left: auto;
		position: relative;
		min-height: var(--bc-labs-vh);

		@include media('lg', 'max') {
			width: 100%;
		}
	}
}
