@use '@/styles/base/utils' as *;

.DashboardLayout {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #fcfcfc;
	position: relative;
	z-index: -1;

	--dashboard-aside-width: 285px;

	&.DashboardLayoutCollapsed {
		--dashboard-aside-width: 86px;

		.DashboardLayoutAside {
			padding: 24px 14px;
			align-items: center;
		}
	}

	&--lg {
		.DashboardLayoutBanner {
			height: 360px;
		}
	}

	&--sm {
		.DashboardLayoutBanner {
			height: 285px;
		}
	}

	&--md {
		.DashboardLayoutBanner {
			height: 318px;
		}
	}

	.DashboardLayoutBanner {
		/* Rectangle 29 */
		--banner: var(--base-bg, rgba(153, 102, 255, 0.15));
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;
		z-index: -1;

		&.fadeOff {
			&::before {
				content: '';
				pointer-events: none;
				position: absolute;
				bottom: 0px;
				height: 50%;
				background: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0) 0%,
					var(--banner) 100%
				);

				width: 100%;
			}
		}

		background: url('/images/dashboard/dashboard-mask.png'),
			linear-gradient(
				196.99deg,
				var(--banner) 7.09%,
				var(--banner) 106.59%,
				rgba(251, 65, 255, 0.15) 86.59%
			);
		background-position: 50% 50%;
		background-size: cover;
		border: 1px solid #f3f4f4;
	}

	&Main {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 4;
		padding: 0 15px;
		width: 100%;
		margin-left: auto;
		position: relative;
		min-height: var(--bc-labs-vh);

		@include media('lg', 'max') {
			width: 100%;
		}
	}
}
