@use '@/styles/base/utils' as *;

.BuildResumeLayout {
	overflow: hidden;
	height: var(--bc-labs-vh);
	--sidebar-width: 47%;
	--nav-height: 74px;

	@include media('xl', 'max') {
		--sidebar-width: 100%;
	}

	&__nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 14px 24px;
		background: #ffffff;
		height: var(--nav-height);
		border-bottom: 1px solid #f3f4f4;
		.BuildResumeLayout__nav__logo {
			max-width: 120px;

			path {
				fill: var(--text-black);
			}
		}
	}

	.ContentWrap {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		min-height: calc(var(--bc-labs-vh) - 78.09px);
	}

	&__main {
		display: flex;
		flex-direction: column;
		padding: 8px 18px 106px;
		background: #fff;
		width: 100%;
		height: auto;
		flex: 1;
		overflow-y: auto;
		max-height: var(--bc-labs-vh);
		position: relative;
		@include custom-scrollbar;

		@include media('xl', 'max') {
			padding: 8px;
			padding-bottom: 106px;
		}
	}

	&__aside {
		width: var(--sidebar-width);
		flex: 0 0 var(--sidebar-width);
		padding: 24px;
		height: calc(100vh - var(--nav-height));

		background: linear-gradient(
			345.12deg,
			rgba(145, 202, 255, 0.15) -19.06%,
			rgba(153, 102, 255, 0.15) 124.44%,
			rgba(251, 65, 255, 0.15) 124.44%
		);

		@include media('xl', 'max') {
			transform: translateY(150%);
			position: fixed;
			top: var(--nav-height);
			left: 0;
			z-index: 100;
			transition: transform 0.2s ease-in-out;

			&.open {
				transform: translateY(0);
				background: linear-gradient(
					345.12deg,
					rgb(239 238 255) -19.06%,
					rgb(240 234 255) 124.44%,
					rgb(240 236 255) 124.44%
				);
			}
		}

		// background: #f9fafa;
		border-right: 1px solid #f2f8f6;
	}
}
