.TargetRole{
    padding: 10px 20px;
    border: 1px solid #E7E9EB;
    background-color: var(--primary-white);
    border-radius: 32px;
    cursor: pointer;
}

.TargetRoleSelected{
    padding: 10px 20px;
    border: 1px solid var(--primary-blue);
    background-color: #EBF5FF;
    border-radius: 32px;
    cursor: pointer;
}

.TabBtn{
    padding: 10px 32px;
}

.CheckBox{
    width: 11.08px;
    height: 11.08px;
    border: 1.2px solid #273643;
    outline: none;
}

.CheckBox:checked + .CheckMark {
    color: #1388F2;
  }
  
