@use '@/styles/base/utils' as *;

.DashboardHome {
	.SetupChecklist {
		border: 1px solid #e7e9eb;
		border-radius: 12px;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		background: #fff;
		justify-content: space-between;

		.ChecklistItem {
			padding: 14px;
			border: 1px solid #f3f4f4;
			border-radius: 12px;

			&.active {
				.ChecklistItemStatusIndex {
					transition: all 0.3s ease;
					background: var(--primary-blue);
					color: #ffffff;
				}
				background: #f9fcff;
				border: 1px solid #1388f2;
			}

			&.done {
				p {
					color: #868e96;
				}
			}

			.ChecklistItemStatus {
				svg {
					width: 30px;
					height: 30px;
				}
			}

			.ChecklistItemStatusIndex {
				background: #f3f4f4;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.Checklist {
			padding: 24px;
			width: 100%;
			max-width: 420px;

			@include media('xl', 'max') {
				max-width: 100%;
			}
		}

		.ChecklistItemDetails {
			padding: 32px;
			display: flex;
			align-items: center;
			border-left: 1px solid #e7e9eb;
			background: #f9fafa;
			gap: 14px;
			justify-content: center;
			flex: 1;

			@include media('xl', 'max') {
				flex: 1 1 100%;
				flex-wrap: wrap;
			}

			> img {
				width: 320px;
			}
		}
	}
}

.ActionCard {
	display: flex;
	gap: 4px;
	flex-direction: column;
	padding: 24px;
	align-items: flex-start;
	width: 100%;
	max-width: 31.38%;
	background: #ffffff;
	border: 1px solid #e7e9eb;
	border-radius: 12px;

	@include media('md', 'max') {
		max-width: 100%;
	}

	.ActionCardIcon {
		margin-bottom: 12px;
		background: #f9fafa;
		border: 1px solid #f3f4f4;
		border-radius: 4px;
		padding: 8px;

		svg {
			width: 18px;
			height: 18px;
		}
	}
}

.PastResume {
	width: 100%;
	max-width: 31.38%;
	background: #ffffff;
	overflow: hidden;
	border-radius: 8px;
	height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 300px;
	border: 1px solid #e7e9eb;

	&Add {
		background: #ebf5ff;
		border: 1px solid #1388f2;
		max-width: 31.38%;
		min-height: 300px;
		border-radius: 8px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 18px;
		@include typography('accent');
		color: var(--text-gray);

		&:hover {
			@keyframes spin {
				0% {
					transform: rotate(0deg) scale(0.9);
				}
				100% {
					transform: rotate(180deg) scale(1);
				}
			}
			img {
				transition: all 0.3s ease;
				animation: spin 1s 1 both;
			}
		}
		img {
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 12px;
			background: linear-gradient(196.99deg, #339dff 7.09%, #2783d8 86.59%);
			border-radius: 50%;
		}
	}

	.PastResumeWrapper {
		justify-content: space-between;
		align-items: self-start;
		padding: 18px;
		border-top: 1px solid #e7e9eb;
	}

	.PastResumeThumbnail {
		max-height: 280px;
		object-fit: cover;
		object-position: top;
	}

	.PastResumeMore {
		width: 28px;
		background: #ffffffe6;
		height: 28px;
		position: absolute;
		top: 12px;
		right: 12px;
		padding: 3px;
		border-radius: 50px;
		border: 1px solid #e7e9eb;
		box-shadow: 0 2px 15px #0000000f;
		backdrop-filter: blur(4px);
	}

	.PastResumeInfo {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}

.Section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 72px;

	&:last-child {
		margin-bottom: 72px;
	}
}
