@use '@/styles/base/utils' as *;

.HomeContainer {
	background-image: url('/images/Home.png');
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding-inline: rem(20px);
}

.PeoplePill {
	border-radius: rem(80px);
	padding: rem(8px);
	padding-right: rem(14px);
	background-color: rgba(255, 255, 255, 0.38);
	border: 1px solid rgba(0, 0, 0, 0.059);
	backdrop-filter: blur(12px);
}

.AccordionItem {
	width: 100%;
	> summary {
		list-style: none;
		cursor: pointer;
	}
}

.resumeContainer{
	position: absolute;
    width: 100%;
    height: 100%;
	margin-top: 20px;
	z-index: 1px;
}
