@use '@/styles/base/utils' as *;

.AuthLayout {
	max-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	gap: 64px;
	margin: 6% 0 6rem;
}

.AuthLayoutButtons {
	margin-top: 48px;
}

.AuthLayoutFooter {
	margin-top: auto;
}

.AuthWrapLogin {
	background: url('/images/auth/login.png');
}

.AuthWrapRegister {
	background: url('/images/auth/register.png');
}

.AuthWrapLogin,
.AuthWrapRegister {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	padding: 32px;

	.AuthWrapInner {
		justify-content: flex-end;
		margin-top: auto;
		height: 100%;
		color: #fff;
		gap: 14px;

		svg {
			width: 20px;
			path {
				fill: #fff;
			}
		}
	}

	.AuthWrapAuthor {
		flex-wrap: wrap;
		margin-top: 12px;
		gap: 8px;
		align-items: center;

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}
}

.OnboardCardWrap {
	position: relative;
	--cardWidth: calc(100% - 70px);

	.OnboardCardStack {
		&::before,
		&::after {
			content: '';
			position: absolute;

			left: 50%;
			border: 1px solid rgba(0, 0, 0, 0.06);
			border-radius: 12px;
			background: #fff;
			z-index: 0;
			transform: translateX(-50%);
		}

		&::before {
			width: calc(var(--cardWidth) - 50px);
			top: -40px;
			height: 70%;
		}

		&::after {
			width: calc(var(--cardWidth) - 30px);
			top: -20px;
			height: 80%;
		}
	}
}

.OnboardCard {
	max-width: var(--cardWidth);
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin: auto;
	padding: 32px;
	position: relative;
	z-index: 1;

	svg {
		width: 16px;
		height: 16px;
	}

	.AuthWrapAuthor {
		flex-wrap: wrap;
		margin-top: 12px;
		gap: 8px;
		align-items: center;

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}
}

.RadioGroup {
	padding: 16px 24px;
	background: #ffffff;
	border: 1.2px solid #e7e9eb;
	border-radius: 12px;
	display: flex;
	gap: 4px;
	flex-direction: column;
}
