@use '@/styles/base/utils' as *;

.NotificationsContainer {
	padding-bottom: rem(58px);

	.NotificationListContainer {
		padding-top: rem(64px);

		.NotificationListItem {
			width: 100%;
			display: grid;
			grid-template-columns: 72px 6fr 2fr;
		}
	}
}
