@use '@/styles/base/utils' as *;

.NotificationsContainer {
	font-family: var(--font-secondary);
	padding-bottom: rem(32px);

	.NotificationListContainer {
		.NotificationListItem {
			background: #fff;
			width: 100%;
			display: grid;
			grid-template-columns: 72px 6fr 2fr;
		}
	}
}
