@use '@/styles/base/utils' as *;

.Layout {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	flex-wrap: wrap;
}

.LayoutInfographic {
	background: #f9fafa;
	height: 100vh;
	flex: 1 1 34%;
	width: 100%;
	border-left: #f9fafa 1px solid;
	padding: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include media('lg', 'max') {
		display: none;
	}
}

.LayoutContentContain {
	flex: 1 0 65%;
	display: flex;
}

.LayoutContentWrap {
	display: flex;
	flex-direction: column;
	gap: 140px;
	flex: 1;
	padding: rem(64px);
	height: 100%;

	@include media('lg', 'max') {
		gap: 64px;
		padding: 2rem 0;
		height: var(--bc-labs-vh);
	}
}

.LayoutContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.Logo {
	height: auto;
	width: rem(200px);
}
