@use '@/styles/base/utils' as *;

.Layout {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	flex-wrap: wrap;
}

.LayoutInfographic {
	background: #f9fafa;
	min-height: 100vh;
	flex: 1 1 33.5%;
	max-width: 600px;
	width: 100%;
	border-left: #f9fafa 1px solid;
	padding: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include media('lg', 'max') {
		display: none;
		margin: 0 auto;
	}
}

.LayoutContentContain {
	flex: 1 0 65%;
	display: flex;
}

.LayoutContentWrap {
	display: flex;
	flex-direction: column;
	gap: 10%;
	flex: 1;
	padding: rem(48px);
	height: 100%;

	@include media('lg', 'max') {
		gap: 64px;
		padding: 2rem 0;
	}
}

.LayoutContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.Logo {
	svg {
		height: auto;
		width: rem(180px);

		@include media('lg', 'max') {
			width: rem(150px);
		}
	}
}
