@use '@/styles/base/utils' as *;

.ExperienceFrame__Field {
	margin-bottom: 8px;
}

.FrameEmpty {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
	background: #fcfcfc;
	border: 1px dashed #f3f4f4;
	border-radius: 12px;
	padding: 6rem 24px;
}

.FrameCards__Card {
	display: flex;
	padding: 28px;
	gap: 8px;

	background: #fcfcfc;
	border: 1px solid #f3f4f4;
	border-radius: 12px;

	.FrameCards__Card__Content {
		.FrameCards__Card__Content__Title {
			font-weight: 600;
			color: var(--text-black);

			&.blue {
				color: var(--primary-blue);
			}
		}

		p {
			color: var(--text-gray);
		}
	}
}
